@media screen and (max-width:1000px){

    nav{
        flex-direction: column;
    }
    .logo{
        justify-content: center;
        margin: 15px 0;
    }
    .slider{
        height: 23vh;
        overflow: hidden;
    }
    nav ul{
        justify-content: center;
    }
    .search{
        justify-content: center;
    }
    .search input{
        margin: 12px 16px;

    }
    .card-item img{
        width: 120px;
        object-fit: contain;
    }
    /* .lines{
        display: inline;
        justify-content: center
    } */
    .box1{
        width: 33%;
        overflow: hidden;
    }
    .box2{
        width: 33%;
        overflow: hidden;
    }
    .box3{
        width: 33%;
        overflow: hidden;
    }
    .box1 img{
        width: 33vw;
        height: 180px;
        object-fit: cover;
    }
    .box2 img{
        width: 33vw;
        height: 180px;
        object-fit: cover;
    }
    .box3 img{
        width: 33vw;
        height: 180px;
        object-fit: cover;
    }
}
